body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
perspective-origin: center;
  perspective: 1000px;
   transform-style: preserve-3d;
   overflow: hidden;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, rgba(255,255,255,0.05), transparent 60%);
  pointer-events: none;
}


body:hover .letter {
  transform: translateZ(140px) rotateX(2deg);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-name , .wellcome {
  display: inline-flex;
  gap: 4px;
}



.letter {
  font-size: 150px;
  font-weight: 900;
  color: #ffe600;
  text-shadow:
    0 0 10px yellow,
    0 0 25px orange,
    0 30px 40px rgba(0,0,0,0.8);
  transform: translateZ(-120px);
  opacity: 0;
  animation: pop3d 0.6s ease forwards, glow 3s infinite;
  transform-style: preserve-3d;
 
}
@keyframes glow{
  0%{
     box-shadow: 0 0 0px #fff700;

  }
  50%{
     text-shadow: 
      0 0 50px #fff700,
      0 0 100px #ffcc00,
      0 0 150px #ffaa00;
  }
100% {
text-shadow:
        0 0 100px #fff700,
        0 0 200px #ffcc00,
        0 0 300px #ffaa00;
}
  
}

.main-name:hover {
  transform: translateZ(140px) scale(1.3);
  text-shadow:
    0 0 10px yellow,
    0 0 25px orange,
    0 30px 40px rgba(0,0,0,0.8);
  cursor: pointer;
    transition: transform 0.3s ease;
}
.letter2 {
  transform: translateZ(-120px) ; 
   opacity: 0;
  font-size: 100px;
  color:#00ffea;
   animation: pop3d 0.6s ease forwards;
   font-weight: 900;
    text-shadow:
      0 0 10px #00fff7,
      0 0 25px #00c8b6,
      0 30px 40px rgba(0,0,0,0.8);
      cursor: pointer;
      

}

.letter:hover {
   transform: translateZ(140px) scale(1.05);
}
.letter2:hover {
   transform: translateZ(140px) scale(1.05);
}
.wellcome:hover{
    text-shadow:
      0 0 10px #00fff7,
      0 0 25px #00c8b6,
      0 30px 40px rgba(0,0,0,0.8);
  cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateZ(140px) scale(1.05);
}

@keyframes pop3d {
  from {
    transform: translateZ(-120px);
    opacity: 0;
  }
  to {
    transform: translateZ(120px);
    opacity: 1;
  }
}
.space {
  height: 50px;
  width: 50px;
}

.space2 {
  height: 50px;
  width: 50px;
}

h2 { font-size: clamp(24px, 5vw, 60px); }
p  { font-size: clamp(14px, 2.5vw, 22px); }
button { font-size: clamp(16px, 3vw, 50px); }

button {
  width: auto;
  max-width: 90%;
  padding: 10px 25px;
}
.logo img, .profile-img {
  max-width: 100%;
  height: auto;
}

  
@media (max-width: 768px) {
  .letter2 { font-size: 50px; }
  .letter { font-size: clamp(50px, 12vw, 100px); }
  .explore-button{ font-size: clamp(50px, 6vw, 40px); }
  .space { height: 30px; width: 30px; }
}
@media (max-width: 480px) {
  .letter2 { font-size: 40px; }
  .letter { font-size: clamp(20px, 8vw, 35px); }
  .explore-button{ font-size: clamp(12px, 3vw, 16px); }
  .space { height: 20px; width: 20px; }
}
@media (max-width: 320px) {
  .letter2 { font-size: 30px; }
  .letter { font-size: clamp(15px, 6vw, 25px); }
  .explore-button{ font-size: clamp(10px, 2vw, 12px); }
  .space { height: 10px; width: 10px; }
}


.timer-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
  opacity: 0;
}

.timer-ring {
  cursor: progress;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid rgba(255,255,255,0.15);
  border-top-color: #00ffea;
}
@keyframes spin {
  0%{ 
    transform: rotate(0deg);
   }
  50%{ 
    transform: rotate(90deg); 
  }
  100%{
    transform: rotate(360deg); 

  }
  }

.timer-percent {
  text-shadow:
      0 0 10px #00fff7,
      0 0 25px #00c8b6,
      0 30px 40px rgba(0,0,0,0.8);
  font-size: 24px;
  font-weight: bold;
  color: #00ffea;
  cursor: progress;
}



